# Core utilities
python-dotenv
protobuf==3.20.3

# Data handling
pandas
numpy

# NLP & Embeddings
sentence-transformers
scikit-learn

# Document processing
pdfplumber
python-docx
pillow
pytesseract

# Vector search
faiss-cpu

# Gemini API
google-generativeai

# Frontend
streamlit==1.32.2
